.header-container {

    display: flex;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 90px;
    flex-direction: column;
    font-size: 26px;

}

.header-container > * {

    display: flex;
    /* font-size: 1rem; */

}

.header-top--store-title, .header-top--cart-info, .header-top--cart-info-number {

    font-size: 30px;
    color: var(--white);

}

.header-top {
    flex: 2;
    flex-direction: row;
    align-items: center;

}

.header-top--left {
    /* display: flex; */
    flex: 3;
    align-items: flex-start;
    background-color: var(--primary);
    padding: 14px;
    color: white;

}

.header-top--right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding: 14px;
    /* background-color: slategray; */
    background-color: var(--primary-lighter);
}

.header-bottom {
    display: flex;
    flex: 3;
    background-color: var(--primary-lightest);
}


.header-bottom ul {

    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    
}

.header-bottom li {
    
    padding: 6px 12px;
    font-size: 20px;
    color: black;    
    list-style: none;

}


.header-container h1{
/* 
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    color: white; */

}

.header-center {

}